<a href="https://colab.research.google.com/github/StevAlexCM/Progra1_2024-semi/blob/main/SegundaClaseCodigos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hola mundo!")
print("Bienvenidos a la clase de programacion computacional III")

Hola mundo!
Bienvenidos a la clase de programacion computacional III

In [2]:
nombre = "Steven Campos"
edad = 19
print (nombre, edad)

edad = "diecinueve"
print ("tu edad: " , edad)

Steven Campos 19
tu edad:  diecinueve

In [3]:
num1 = 7
num2= 6.5
suma = num1 + num2
print("La suma es:", suma)

La suma es: 13.5

In [5]:
num1 = float (input("Num1: "))
num2 = float (input("Num2: "))
suma = num1 + num2
print("La suma es: ", suma)

Num1: 5
Num2: 3
La suma es:  8.0

In [6]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("La resta es: ", resta)

Num1: 8
Num2: 3
La resta es:  5.0

In [7]:
# entero
num1 = 6
print (str(num1) + " Esto es un numero entero")

#Decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Boolenao
esMayor = True
print(esMayor, "Esto es un booleano")

#Cadena
nombre = "Steven Campos"
print(nombre, "Esto es una cadena")
print(nombre, "Letra inicial:", nombre[0],"Un valor en especifico:", nombre[5], "rango:", nombre[0:6],"Comenzar desde el final:", nombre[-1])

#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))


fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un booleano
Steven Campos Esto es una cadena
Steven Campos Letra inicial: S Un valor en especifico: n rango: Steven Comenzar desde el final: s
2025-07-29 13:30:13.477512 2025-07-29 13:30:13.477512
<class 'datetime.datetime'>
2025-08-01

In [8]:
#Suma
def suma(num1, num2):
    return num1 + num2

In [9]:
print( "la suma de 5 + 8 es: ", suma(5,8))

la suma de 5 + 8 es:  13

In [10]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 8
Num2: 10
La suma es:  18.0

Tarea.

In [11]:
#Resta
def resta(num1, num2):
    return num1 - num2

In [12]:
print( "la resta de 5 - 8 es: ", resta(5,8))

la resta de 5 - 8 es:  -3

In [13]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = resta(num1, num2)
print("La resta es: ", respuesta)

Num1: 9
Num2: 6
La resta es:  3.0

In [14]:
#Celcius a farenheith.
def celciusFarenheith(c):
  return c*1.8 + 32

In [16]:
c = int (input("grados c: "))
f = celciusFarenheith(c)
print("F: ", f)

grados c: 9
F:  48.2

In [22]:
#Farenheit a Celcius
def farenheithCelcius(f):
  return (f - 32) * 5/9

In [23]:
f = float (input("Grados F: "))
c = farenheithCelcius(f)
print("C: ", c)

Grados F: 100.4
C:  38.0

In [24]:
#Celcius a Kelvin
def celciusKelvin (c):
 return (c + 273.15)

In [26]:
c = float (input("Grados C: "))
k = celciusKelvin(c)
print("K: ", k)

Grados C: 0
K:  273.15

In [32]:
#Hacer un ejercicio en python haciendo de uso de funciones de usuario, que calcule el sueldo de un empleado, segun el numero de horas trabajadas y el valor por hora
def sueldo(numHoras, ValorXhoras):
  sueldo = numHoras * ValorXhoras * 30
  return sueldo

In [33]:
numHoras = float(input("Hrs: "))
Valorxhoras = float(input("valor por hora: "))
sueldo = sueldo(numHoras, Valorxhoras)
print("Sueldo: ", sueldo)

Hrs: 8
valor por hora: 14
Sueldo:  3360.0

In [35]:
#Elevar un numero a exponente
def exponenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = exponenciacion(b,e)

print(f"{b} elevado a {e} es igual a {resultado}")

Base: 8
Exponente: 3
8.0 elevado a 3.0 es igual a 512.0